.adcontainer {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 200px 30vw 10vw;
    grid-template-rows: 5vh auto auto;
    justify-content: left;
    vertical-align: top;
    opacity: .85;
}

.adcontainer:hover{
    opacity: 1;
    animation: bounce 0.8s;
}

img {
    grid-column: 1;
    grid-row: 1/-1;
    height: 150px;
    width: 150px;
}

.Title {
    display: grid;
    justify-content: left;
    vertical-align: top;
    grid-row: 1;
    grid-column: 2;
}

.Tag {
        grid-row: 1;
        grid-column: 3;
}

.Price {
    grid-row: 1;
    grid-column: 3;
}

.Body {
    justify-content: left;
    vertical-align: top;
    grid-row: 2/3;
    grid-column: 2/3;
    height: auto;
}

.Timestamp {
    grid-row: 3;
    grid-column: 3;
    display: grid;
    justify-content: right;
    vertical-align: bottom;
    font-size: small;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
}
